# Gradle specific
.gradle/
build/

# Eclipse
.project
.classpath
.settings/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Runtime
*.pid